@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Fira Sans", sans-serif;


    }

body{
    width: 100%;
    height: 100vh;
    background-color: #f6ecec;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.mainContainer{
    width: 80%;
    border-radius: 60px;
    background-color: white;
    position: relative;
}


/* header */
header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.menu ul{
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu ul a {
    font-weight: 400;
    color: #00240F;
}

.logo {
    width: 100px;
}

/* (de)Es wurde erstellt, um beim zukünftigen Schreiben von js den Befehl „Wenn dieser Link beispielsweise aktiv ist, füge seine aktive Klasse hinzu und trenne ihn von den anderen“ auszugeben.*/
/* (Tr)Gelecekte js yazarken "Örneğin, eğer bu link aktif ise, aktif sınıfını ekle ve diğerlerinden ayır" komutunu vermek için oluşturulmuştur.*/
/* (Eng)It was created to issue the command "For example, if this link is active, add its active class and separate it from the others" when writing js in the future.*/
.active{
    color: red;
}

.menu .signIn{
    background-color: #EC0000;
    color: #ffff;
    padding: 5px 20px;
    border-radius:24px;

}

/* Banner */
.bannerContainer {
    width: 100%;
    height: 300px;
    display: flex;
}

.bannerLeft{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    gap: 20px;

}

.bannerLeft h1 {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: -2px;


}

.bannerLeft p {
    font-weight: 500;
    font-size: 20px;
}

.bannerRight{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bannerRight img{
width:100%;
height: 100%;

}

.orderNow {
    background-color: #EC0000;
    color: #ffff;
    padding: 5px 20px;
    border-radius:24px;
}

/* Others */

.subHeader{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #00240f;
}

.abs1{
    position: absolute;
    top: 15px;
    left: 30%;

}

.abs1Img{
    width: 30px;
}

.abs2{
    position: absolute;
    right: 160px;
    top: 720px;
}
.abs2Img{
    width: 150px;
}


.abs3{
    position: absolute;
    left: -70px;
    bottom: 300px;
}

.abs3Img{
    width: 150px;
}

.abs4{
    position: absolute;
    bottom: 340px;
    right: -5px;
}

.abs4Img{
    width: 70px;
}

.abs5{
    position: absolute;
    bottom: -110px;
    left: -70px;
    z-index: -1;
    
}

.abs5Img{
    width: 150px;
}

/* Cards */

.cartContainer{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap:20px;
    
}

.card{
    width: 200px;
    height: 100%;
    border: 1px solid #BDBDBD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transition: box-shadow 0.2s linear;

}

.card:hover{
    box-shadow: 0 0 20px 0 #bdbdbd;
}

.imageContainer img{
    width: 100px;
}

.cardHeader {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #000;

}

.cardInfo{
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    color: #333333;
}

.price{
    font-size: 20px;
    font-weight: 600;
    color: #05A848;
    margin: 15px 0;
}

.select {
    width: 90%;
    padding: 5px 10px;
    border-radius: 20px;
}

.addToCard{
   
    background-color: #EC0000;
    color: #ffff;
    padding: 5px 20px;
    border-radius:24px;

}

.addButton{
    width: 90%;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;

}


